<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Admin Panel</a>
        </form>
      </div>
    </div>
  </nav>

</header>