<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Shoping</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Product</a>
          </li>
          <li class="nav-item">
            {{#if user}}
            <a class="nav-link" href="/cart">Cart</a>
            {{else}}
            <a class="nav-link" href="/login">Cart</a>
            {{/if}}
          </li>
           {{!-- <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>  --}}
          <li class="nav-item">
            {{#if user}}
            <a class="nav-link">Orders</a>
            {{/if}}
          </li>
        </ul>
        {{#if user}}
          <h4
            class="p-2 rounded mb-2 bg-info text-white"
            style="margin-right: 10px ;"
          >{{user.Name}}
          </h4>

        {{else}}
          <h4 class="text-danger" style="margin-right: 10px ;">Account </h4>
        {{/if}}

        {{#if user}}
          <a class="btn btn-primary" href="/logout" role="button">LogOut</a>

        {{else}}
          <a class="btn btn-primary" href="/login" role="button">Login</a>
        {{/if}}

      </div>
    </div>
  </nav>

</header>